{% extends 'base' %}
{% block content %}
  <h2>Welcome To the Rattler Score Keeper</h2>
  <p>To Edit Tournament and players please use the links</p>
  <h2> <h2>{{ t.date.year }} Rattler Tournament at {{ t.course_name }} </h2> </h2>
  <div class="pane-container">
    <div class="pane" id="left-pane">
  <h3>Preliminary Round Leaderboard -- {{ t.course_name }} </h3>
    <table>
      <thead>
        <tr>
          <th>Player (HCP)</th>
          <th>Tournament Handicap</th>
          <th>Net Score</th>
          <th>Gross Score</th>
        </tr>
      </thead>
        <tbody>
    {% for e in ordered %}
    <tr>
      <td><strong>{{ e.player.name }} </strong> ({{ e.player.handicap }})</td>
      <td>{{ e.tournament_handicap }}</td>
      <td>{{ e.net_score }}</td>
      <td><div class="panel-body"> </div><a href="{{ url_for('tournaments.score_entry', tid=t.id, eid=e.id) }}">{{ e.gross_score }} </a></div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="pane" id="right-pane">
    <h3>Potential Rattler Pairings</h3>
    <ol>
    {% for p1,p2 in rattlerPairings %}
    <li>
      <strong>{{ p1.player.name }}</strong> -- {{ p2.player.name }}
    </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}