{% extends 'base' %}
{% block content %}
<h2>Players</h2>
<a href="{{ url_for('players.create_player') }}">Add Player</a>
<ul>

<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Player Handicap</th>
    <th>Division</th>
    <th></th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for p in retTable %}
    <tr>
      <td>{{ p.name }}</td>
      <td>{{ p.handicap }}</td>
      <td>{{ p.player_division.name }}</td>
      <td><a href="{{ url_for('players.player_profile', pid=p.id) }}">View</a></td>
      <td><a href="{{ url_for('players.edit_player', pid=p.id) }}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</ul>
{% endblock %}


