{% extends 'base' %}
    {% block content %}
    <h2>{{ t.date.year }} Rattler Tournament at {{ t.course_name }} </h2>
    <form id="playerSelect" action="" method="post">
      <select name="player_id">
      {% for p in all_players %}
        <option value="{{ p.id }}">{{ p.name }} (hcp {{ p.handicap }})</option>
      {% endfor %}
      </select>
      <input name="tournament_handicap" placeholder="Tournament Handicap">
      <div class="panel-body">
          <input type ="submit" name="action" value="Add Player with Player Handicap" >
          <input type ="submit" name="action" value="Add Player with Tournament Handicap" >
          <input type ="submit" name="action" value="Remove Player" onclick="return confirm('Are you sure you want to delete this item?');">
        </div>
    </form>
    <br>
    <a href="{{ url_for('tournaments.group_tournament', tid=t.id) }}" class="btn btn-primary"> Generate Player Groupings </a>
    <h3>Preliminary Round Leaderboard</h3>
    <table>
      <thead>
        <tr>
          <th>Player (HCP)</th>
          <th>Tournament Handicap</th>
          <th>Net Score</th>
          <th>Gross Score</th>
        </tr>
      </thead>
        <tbody>
    {% for e in ordered %}
    <tr>
      <td><strong>{{ e.player.name }} </strong> ({{ e.player.handicap }})</td>
      <td>{{ e.tournament_handicap }}</td>
      <td>{{ e.net_score }}</td>
      <td><div class="panel-body"> </div><a href="{{ url_for('tournaments.score_entry', tid=t.id, eid=e.id) }}">{{ e.gross_score }} </a></div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <br>

    <h3>Potential Rattler Pairings</h3>
    <ol>
    {% for p1,p2 in rattlerPairings %}
    <li>
      <strong>{{ p1.player.name }}</strong> -- {{ p2.player.name }}
    </li>
    {% endfor %}
    </ol>

{% endblock %}