{% extends 'base' %}
    {% block content %}
    <h2>{{ t.name }}</h2>
    <!-- <p>Holes: {{ t.holes }}</p> -->
    <form method="post">
      <select name="player_id">
      {% for p in all_players %}
        <option value="{{ p.id }}">{{ p.name }} (hcp {{ p.handicap }})</option>
      {% endfor %}
      </select>
      <button type="submit">Add Player</button>
    </form>
    <ul>
    {% for e in entries %}
      <li>{{ e.player.name }} — 
        <a href="{{ url_for('tournaments.score_entry', tid=t.id, eid=e.id) }}">[Enter Prelim Score]</a>
        <a href="{{ url_for('tournaments.prelim_player_remove', tid=t.id, eid=e.id) }}">[Remove Player]</a>
      </li>
    {% endfor %}
    </ul>
    <p><a href="{{ url_for('tournaments.leaderboard', tid=t.id) }}">View Leaderboard</a></p>
{% endblock %}