{% extends 'base' %}
  {% block content %}
  <h2>{{ t.date.year }} Rattler Tournament at {{ t.course_name }} </h2>
  <nav>
        <a href="{{ url_for('tournaments.view_tournament',tid=t.id) }}">Leaderboard</a> |
        <a href="{{ url_for('tournaments.add_players',tid=t.id) }}">Add Players</a> | 
        <a href="{{ url_for('tournaments.mass_score_entry',tid=t.id) }}">Score Entry</a> | 
        <a href="{{ url_for('tournaments.rattler_pairings',tid=t.id) }}">Rattler Pairings</a> | 
        <a href="{{ url_for('tournaments.group_tournament',tid=t.id) }}">Groupings</a> | 
  </nav>
    <br>
    <h3>Preliminary Round Leaderboard</h3>
    <table>
      <thead>
        <tr>
          <th>Player (HCP)</th>
          <th>Tournament Handicap</th>
          <th>Net Score</th>
          <th>Gross Score</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
    {% for e in ordered %}
    <tr>
      <td><strong>{{ e.player.name }} </strong> ({{ e.player.handicap }})</td>
      <td>{{ e.tournament_handicap }}</td>
      <td>{{ e.net_score }}</td>
      <td><div class="panel-body"> </div><a href="{{ url_for('tournaments.score_entry', tid=t.id, eid=e.id) }}">{{ e.gross_score }} </a></div></td>
      <td><form method="POST" action="{{ url_for('tournaments.prelim_player_remove',tid=t.id ,eid=e.id) }}" onsubmit="return confirm('Are you sure you want to continue? This action cannot be undone.');">
          <button type="submit" >Remove Player </button> </form></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}