    {% extends 'base' %}
    {% block content %}
      <h2>Tournaments</h2>
      <a href="{{ url_for('tournaments.create_tournament') }}">+ Create new tournament</a>
      <ul>
<table>
<thead>
  <tr>
    <th>Date</th>
    <th>Course</th>
    <th>Rating</th>
    <th>Yardage</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for t in retTable %}
    <tr>
      <td>{{ t.date }}</td>
      <td>{{ t.course_name }}</td>
      <td>{{ t.course_rating }}</td>
      <td>{{ t.yardage }}</td>
      <td><a href="{{ url_for('tournaments.view_tournament', tid=t.id) }}">view</a></td>
      <td><a href="{{ url_for('tournaments.edit_tournament', tid=t.id) }}">edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</ul>
{% endblock %}